@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600;700&family=Montserrat+Alternates:wght@500&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600&display=swap');
/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*Login_Page */
.mainBox{
  margin: 79px auto;
  text-align: center;
}
.bannerBox img{
  width: 100%;
}
.logoBox{
  text-align: center;
  padding-top:54px  ;
}
.logoBox h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  color: #161A1D;
}

.logoBox h5{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #A2A3A5;
}
.form-box{
  margin-top: 53px;
  border-bottom: 2px solid #E8E8E8;
  padding: 15px;
  text-align: left;

}
.form-box select{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #161A1D;
  border: none;
  position: relative;
  top: -7px;
  left: 7px;
}
.form-box .flag-img{
  width: 28px;
  height: 28px;
}
.flagBox{
  padding-top: 14px;
}
.form-box input{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #161A1D;
  border: none;
  margin-top: 15px;
  padding-left: 15px;
}
.form-box input::placeholder{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #161A1D;
}
.form-box input:focus{
  outline: none;
}
.inputbox{
  position: relative;
}
.inputbox::before{
  content: "";
  width: 2px;
  height: 70%;
  background-color: #E8E8E8;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mybtn{
  width: 347px;
  height: 80px;
  background-color: #DF201F;
  border: none;
  box-shadow: 2px 2px 25px 2px rgba(223, 32, 31, 0.5);
  border-radius: 60px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 79px;
  margin-bottom: 70px;
}
.inputfield{
  width: 90%;
}
.inputbox{
  position: relative;
}
.inputbox img{
  position: absolute;
  top: 18px;
  right: 0;
  opacity: 0.5;
}
@media screen and (max-width:768px) {
  .mybtn{
    width: 250px;
    height: 60px;
    margin-top: 50px;
  }
}

/* Verification_Page */
.VerifyBox{
  margin-top: 62px;
}
.VerifyBox img{
  margin-bottom: 20px;
}
.VerifyBox h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  color: #161A1D;
}

.VerifyBox h5{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #A2A3A5;
  margin-top: 3px;
}
.inputBox{
  text-align: center;
}
.inputBox input{
  width: 60px;
  height: 72px;
  margin: 31px 14px 0px;
  background: #FFFFFF;
  border: 2px solid #E8E8E8;
  border-radius: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  text-transform: lowercase;
  color: #161A1D;
}
.secInpt{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #DF201F;
  margin-bottom: 0;
}
.otpBox{
  margin: 0;
  padding: 0;
}
.otpBox a{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #161A1D;
}

.otpBox img{
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  left: 15px;
  margin-bottom: 0;
}
.mainBox .mybtn{
  width: 347px;
  height: 80px;
  background-color: #DF201F;
  border: none;
  box-shadow: 2px 2px 25px 2px rgba(223, 32, 31, 0.5);
  border-radius: 60px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 71px;
  margin-bottom: 71px;
}

@media screen and (max-width: 992px) {
  .mainBox .mybtn{
    width: 250px;
    height: 60px;
    margin-top: 50px;
  }
}
@media screen and (max-width:768px) {
  .mainBox .mybtn{
    width: 250px;
    height: 60px;
    margin-top: 50px;
  }
}
/* Product List Page */
.headerMainBox{
  box-shadow: 2px 2px 30px 2px #FFF3E5;
  margin-bottom: 40px;
}
.HeaderBox{
  padding: 21px 0;
}
.HeaderBox .logoData img{
  width: 52px;
  height: 57px;
}
.HeaderBox .foodData{
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #161A1D;
  display: inline-block;
  position: relative;
  top: -23px;
  left: 14px;
}
.HeaderBox .admin{
  text-align: center;
}
.HeaderBox .admin img{
  width: 58px;
  height: 58px;
  border: 4px solid #FFFFFF;
}

.HeaderBox .icon{
  color: #161A1D;
  position: relative;
  text-align: center;
  top: 21px;
}
.HeaderBox .icon svg{
  width: 26px;
  height: 28px;
}
.count{
  width: 33px;
  height: 21px;
  background: #DF201F;
  border-radius: 40px;
  color: #FFFFFF;
  position: absolute;
  top: -5px;
  left: 50%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
}
.navBox{
  justify-content: center;
}
.navBox li{
  padding: 12px 60px;
  text-align: center;
}
.navBox span{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #161A1D;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
}
.navBox span:hover{
  color: #DF201F;
  border-color: red;
  transition: 0.5s;
}

.hideBtn{
  display: none;
}

.productText{
  font-family: 'Bai Jamjuree', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 32px !important;
  text-transform: capitalize;
  color: #161A1D;
  padding-top: 27px;
  position: relative;
}
.searchBox{
  position: relative;
}

.searchBox input{
  border: none;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #A2A3A5;
  padding: 16px 20px;
  border: 1px solid #E7E7E9;
  border-radius: 60px;
  width: 80%;
}

.searchIconBox{
  position: absolute;
  top: 21px;
  right: 65px;
}
.productBtn button{
  border: none;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em; 
  text-transform: uppercase;
  color: #FFFFFF;
  background: #94CD00;
  box-shadow: 2px 2px 25px 2px rgba(148, 205, 0, 0.4);
  border-radius: 60px;
  padding:17px 52px 20px 30px;
}
.productBtn button span{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 5px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFE;
  position: relative;
  top: 6px;
  right: -15px;
}
.tableBoxdata.MuiGrid-container{
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.tableBoxdata{
  margin-bottom: 30px;
}
.tableBox{
  background: #FFFFFF;
  box-shadow: 2px 2px 30px 2px #FFF3E5;
  margin-bottom: 48px;
}

.tableHead{
  border: none;
  background: #DF201F;
  border-radius: 8px 8px 0px 0px;
}

.tableRow{
  font-family: 'Bai Jamjuree', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  text-transform: capitalize;
  color: #FFFFFF !important;
}
.tableBody .tableCell{
  padding-left: 28px;
}
.tableHead th{
  position: relative;
}
.tableHead th:first-child{
  padding-left: 40px;
}
.tableHead th::before{
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  background: #FFFFFF;
  opacity: 0.1;
  border-radius: 8px 8px 0px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.tableBody .tableCell:first-child{
  padding-left: 30px;
  position: relative;
  width: 260px;
  padding-top: 19px;
}
.tableBody .menuText{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 68px;
  color: #A2A3A5;
  position: absolute;
  left: 90px;
  top: 5px;
}
.tableBody .tableCell{
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 68px;
  color: #A2A3A5;
}
.foodPagination ul{
  justify-content: end;
}
.foodPagination ul li button{
  border: none;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 68px;
  letter-spacing: 2em;
  color: #A2A3A5;
  background-color: transparent;
}
.foodPagination ul li button.Mui-selected{
  background: #DF201F;
  border-radius: 5px; 
  color: #FFFFFF;
}
@media screen and (max-width:1100px) {
  .tableBody .tableCell:first-child{
    width: 210px;
  }
}
@media screen and (max-width:992px) {
  .navBox li{
    display: none;
  }
  .hideBtn {
    display: block;
    text-align: right;
  }
  .hideBtn svg{
    font-size: 40px;
    margin-top: 2px;
    margin-right: 18px;
  }
  .mobileNav.MuiListItem-root{
    display: block;
    width: 260px;
  }
  .mobileNav div.MuiListItemText-root{
    display: block;
    padding: 10px 0;
  }
  .mobileNav span{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161A1D;
  }
  .mobileNav span:hover{
    color: #DF201F;
  }
}

@media screen and (max-width: 768px) {
  .tableBoxdata.MuiGrid-container{
    flex-wrap: wrap;
  }
  .productBtn{
    text-align: center;
    margin-top: 30px;
  }

  .searchBox{
    margin-top: 15px;
  }
  .searchBox input{
    width: 88%;
  }
  table.tableBox{
    overflow-x: scroll;
    width: 1200px;
  }
  .tableBoxDiv{
    overflow-x: scroll;
  }
  .foodPagination ul {
    justify-content: center;
  }
  .logoData {
    text-align: center;
  }
  .productText{
    text-align: center;
  }
}
/* Add New Product */
.addProduct.MuiContainer-root{
  padding: 53px 77px 60px 73px;
  background: white;
  border-radius: 10px;
}
.productForm{
  margin-top: 26px;
}
.productText p{
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-transform: capitalize;
  color: #161A1D;
  padding-bottom: 19px;
  padding-top: 0;
}
.productText .mySlider{
  width: 100%;
  padding-right: 50px;
}
.mySlider .carousel-indicators{
  right: 13%;
  bottom: 26px;
} 
.mySlider .carousel-inner{
  border-radius: 11px;
}
.mySlider .carousel-control-prev, .mySlider .carousel-control-next{
  opacity: 1;
}
.mySlider .carousel-control-next{
  right: 11%;
}
.mySlider .carousel-indicators [data-bs-target]{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  border: 0;
}
.mySlider .carousel-indicators .active{
  background: #DF201F;
}
.productText .mySlider img{
  width: 100%;
}
.inputProdBox label{
  display: block;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #161A1D;
  text-align: left;
}

.inputProdBox input, .inputProdBox select,textarea{
  border: 2px solid #E8E8E8;
  border-radius: 10px;
  padding: 16px 0 16px 22px;
  margin: 8px 0;
  width: 100%;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  color: #A2A3A5;
}
.inputProdBox select{
  height: 64px;
}
.inputProdBox .prdtname{
  width: 90%;
}
.inputProdBox .priceBox{
  width: 80%;
}
.inputProdBox .unitBox{
  width: 83%;
  padding: 16px 0 16px 10px;
}
.inputProdBox input::placeholder,textarea{
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  color: #A2A3A5;
}
textarea{
  width: 90%;
  min-height: 136px;
}
.addProduct .savePrdt{
  background: #94CD00;
  box-shadow: 2px 2px 25px 2px rgba(148, 205, 0, 0.6);
  border-radius: 60px;
  padding: 19px 36px;
  border: none;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 13px;
}

@media screen and (max-width: 1200px) {
  .productText img{
    width: 93%;
  }
  
}
@media screen and (max-width: 992px) {
  .productForm{
    margin-left: 19px;
  }
  
  .inputProdBox .prdtname,textarea {
    width: 95%;
  }
  .productText img{
    width: 100%;
  }

  .inputProdBox .priceBox,.inputProdBox .unitBox{
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .addProduct.MuiContainer-root{
    padding: 30px;
  }
}

.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm{
  max-width: 100%;
  overflow: visible;
}

.closeIcon{
  width: 44px;
  height: 44px;
  background: #DF201F;
  border-radius: 50%;
  color: #FFFFFF;
  border: none;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
.MuiDialog-paper{
  overflow: visible;
}

/* popover */
.addProduct .popBox{
  color: #161A1D;
}
.imagePopup button{
  border: none;
  background: transparent;
  position: absolute;
  z-index: 9;
  color: #ffffff;
  right: 77px;
  top: 107px;
}
.imagePopup button svg{
  font-size: 36px;
}

.myPopBx .MuiPopover-paper{
  width: 159px;
  height: 82px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 10px 15px;
  left: 34% !important;
}

.myPopBx .MuiPopover-paper p{
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #161A1D;
  padding: 0;
}